<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles-login.css">
    <script src="https://kit.fontawesome.com/dd6eaabea9.js" crossorigin="anonymous"></script>
</head>
<body>
        <!-- <h2>BIENVENID@ NUEVAMENTE</h2> -->
        <header>
            <nav class="arriba">
                <div class="logoYBarra">
                    <a  href="/"><img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo" ></a>
                    <div class="search-bar">
                        <input class = "barra" type="text" name="Busar Productos" placeholder="¿Que desea buscar?">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                    <h4 class="compra"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h4>
                </div>
            </nav>
            <nav class="barras">
                <ul class="bar">
                    <li><a href="#ofertas">Ofertas</a></li>
                    <li><a href="#TiendasoF">Tiendas Oficiales</a></li>
                    <li><a href="#vender">Vender</a></li>
                    <li><a href="#ayuda">Ayuda</a></li>
                </ul>
    
                <ul class="barCuent">
                    <li><a href="/register.html">Crear tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                    <li><a href="/login.html">Ingresá <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                    <li><a href="#compras">Mis compras <i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
            <div class="burger-container">
                <div class="burger">
                    <i class="fa-solid fa-bars"></i>
                    <!-- <input type="checkbox" id="menu"><label for="menu"><i class="fa-solid fa-bars"></i></label></label> -->
                </div>
            </div>
            
        </header>
    <main>
        <form action="/" method="get" class="login">
        
            <div class="nombre_user">
                <label for="nombre_user"><strong>Nombre de usuari@</strong></label>
                <input type="text" name="nombre_user" id="cajita" placeholder="Ingrese su nombre de usuario ">
            </div>
            <div class="password">
                <label for="password"><strong>Contraseña</strong></label>
                <input type="password" name="password" id="cajita" placeholder="Ingrese su contraseña">
            </div>
            <button type="submit" id="enviar"> ENVIAR </button>
        </form>
    </main>
    <footer>
        <div class="paga">
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="envio">
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="seguridad">
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@</p>
        </div>
        <br>
        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>