* {
    margin: 0 auto;
    padding:0;
    box-sizing: border-box;
}
main section article .img_prod{
    width: 70%;
}
main{
    background-color: #ebebeb;
}
/* .arriba{
    display: flex;
    
} */
header nav.barras{
    display:none;

}
header{
    background-color: #EAC926;
    padding: 15px;
}
header nav .logoYBarra{
    display: flex;
    width:100%;
    height: auto;
    flex-wrap: wrap;
    /* border: solid red; */   
}
.barra{
    flex-grow: 2;
}
header nav .logo{
    width: 120px;
    margin:auto;
}
header input{
    border-radius: 5px;
    font-size: 11px;
    width: 40vw;
    height: 25px;
    
}

nav ul{
    list-style: none;

}
nav ul li a{
    text-decoration: none;
    color:black
}
.burger-container{

   text-align: center;

}
.burger {
    display:inline;
    background-color: blue;
}
#menu:checked{
    display: initial;
    
}
header h4{
    text-align: center;
    font-size: 12px;
}
.banner{
    width: 100vw;
}

main section{

    width: 90%;
    height: 90%;
    box-sizing: border-box;
    text-align: center;
    margin:10px;
}
.barCuent{
    padding-top: 10px;
}
main section article{
    margin-bottom: 10px;
    border: 1px solid #ebebeb;
    padding: 15px;
    background-color: white;

}
main section article nav {
    text-align: left;
    /* border: 1px solid black; */
    border-top: 1px solid #ebebeb;
}
/* main section article nav i,div{
    margin-top: 10px;
} */
main section article nav div.off{
    
    color:green;
    width: 70%;
    padding-top: 2px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    /* border: solid red; */
}
main section article nav p{
    
    width: 30%;
    /* padding-left: 15px; */
    margin-top: 3px;
    font-size: 20px;
    color:black;
    /* border: solid green; */
    
}
main section article nav h4{
    color:gray;
    padding-left: 15px;
}
.tit{
    font-style: bold;
    text-align: center;
}

main section article nav i{
    padding-left: 15px;
    padding-bottom: 5px;
    width: 25px;
    margin-left: 15px;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
     border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    right: 20px;
    top: -15px;
    margin-right: 25px;
    
}
#truck{
    display: flex;
    width:100%;
    flex-direction: row-reverse;
    /* border: solid red; */
}
.fa-truck{
    color:green;
}
main section .precioYOff{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 15px;
}
.compra{
    padding-top: 5px;
    padding-bottom: 5px;
}
main section h3{
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: bold;
}

/* ----------------------footer-------------------- */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
}
footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:25px 10px;
    /* border: solid red; */

}
footer div i{
    font-size: 25px;
    margin-bottom: 10px;
    color:  #1259c3;
}
footer div h4{
    margin-bottom: 8px;;
}
footer div p{
    text-align: center;
    color: #666 ;
}

@media(min-width:768px){

    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    main section article{
        width: 45%;
        height: 45%;
        margin-bottom: 20px;
        
    }
    main section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    header h4.compra{
        text-align: center;
        width:33%;
        font-size: 13px;
    }
    header nav .logoYBarra{
        display: flex;
        width:100vw;
        height: auto;
        /* border: solid red; */
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        
    }
    header nav .logo{
        width:150px;
        margin:auto;
    }
    header input{
        
        border-radius: 5px;
        font-size: 11px;
        width: 33vh;
        
    }
    .tit{
        font-size: 25px;
    }
    .burger-container{
        display:none;
    }
    .burger{
        display: none;
    }
    header nav.barras{
        display:flex;
    }
    /* .banner{
        width: 800px;
    } */
    header nav{
        display:flex;
        
        }
        header.bar{
            display:flex; 
            justify-content: space-between;  
        }
    
        header.barCuent li{
            display: flex;
        }
        header .barras ul{
            margin-top:auto;
            display: flex;
        }
        header .barras ul li{
            margin : 8px;
        }
    /* -----------------footer---------------- */
    footer{
        flex-direction: column;
        align-items: center;
    }
    footer div{
        width: 60%;
    }
}

@media(min-width:1024px){
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
       }

   main section article{
    width: 23%;
    height: 23%;
    margin-bottom: 20px;
    
    }
    main section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    header h4.compra{
        text-align: center;
        width:33%;
        font-size: 17px;
    }
    header nav .logoYBarra{
        display: flex;
        width:100vw;
        height: auto;
        /* border: solid red; */
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        
    }
    header nav .logo{
        width:200px;
        margin:auto;
    }
    header input{
        
        border-radius: 5px;
        font-size: 15px;
        width: 40vw;
        height: 5vh;
        
    }
    .tit{
        font-size: 25px;
    }

   .burger-container{
    display:none;
   }
   .burger{
    display: none;
   }
   header nav{
    display:flex;
    
    
    }
    header.bar{
        display:flex;   
    }

    header.barCuent li{
        display: flex;
    }
    header .barras ul{
        margin-top:auto;
        display: flex;
        
    }
    header .barras ul li{
        margin : 5px;
        
    }
    /* .banner{
    width: 1400px;
    } */
    header .barra{
        width: 250px;
    }
    
    main section h3{
        text-align: center;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    header.bar{
        display:flex; 
        justify-content: space-between;    
    }

    header.barCuent li{
        display: flex;
    }
    header .barras ul{
        margin-top:auto;
        display: flex;
    }
    header .barras ul li{
        margin : 8px;
    }
    main section article nav i{
        padding-left: 15px;
        padding-bottom: 5px;
        width: 25px;
        margin-left: 15px;
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
         border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        right: 20px;
        top: -15px;
        margin-right: 10px;
        
    }
    #truck{
        display: flex;
        width:100%;
        flex-direction: row-reverse;
        /* border: solid red; */
    }
    main section .precioYOff{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-left: 15px;
        justify-content: space-between;
    }
    main section article nav div.off{
    
        color:green;
        width: 70%;
        padding-top: 2px;
        padding-left: 15px;
        padding-bottom: 15px;
        font-size: 17px;
        /* border: solid red; */
    }
    main section article nav p{
        
        width: 30%;
        /* padding-left: 15px; */
    
        font-size: 17px;
        color:black;
        margin-top: 3px;
        margin-right: 5px;
        /* border: solid green; */
        
    }
    /* -----------------footer---------------- */
    footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        /* border: solid red; */
        width:100%
    }
    footer div{
        /* border:solid green; */
        width: 31%;
    }
   
}